<div class="cart-container">
    
        <div class="cart-item">
          <div class="cart-item-details">
            <app-product-item class="cart-item" *ngFor='let cart of cartList' [product]="cart"
             [canRemove]="canRemove"
            (total)="getTotal(cart)"
            (update)="update(cart)"></app-product-item>
          <br>
          <div>
            <h5>{{ total }}</h5> 
          
          </div>
        </div>
        <div class="cart-panel">

<form #form="ngForm" (ngSubmit)="onSubmit()" class="form-margin">
    <label>Full Name</label>
    <br>
    <input type="text" name="fullName" required minlength="5" [(ngModel)]="fullName" #namevalid="ngModel">
    <div *ngIf="namevalid.invalid && namevalid.dirty">
      <div *ngIf="namevalid.errors?.required">
        Please enter your full name.
      </div>
      <div *ngIf="namevalid.errors?.minlength">
        Name must be at least 5 characters long.
   </div> 
    </div>
    <br>
    <label>Address</label>
    <br>
    <input type="text" name="address" [(ngModel)]="address" required minlength="5"  #addressValid="ngModel" >
    <div *ngIf="addressValid.invalid && addressValid.dirty">
      <div *ngIf="addressValid.errors?.required">
        Please enter your address.
      </div>
      <div *ngIf="addressValid.errors?.minlength">
        Address must be at least 5 characters long.
      </div> 
    </div>
    <br>
    <label>Credit Card</label>
    <br>
    <input type="text" name="creditCard" required minlength="10" [(ngModel)]="creditCard" (ngModelChange)="validateCreditCard()" />
    <p *ngIf="creditCardvalidate != null ">{{this.creditCardvalidate}}</p>
    
    <br>
    <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
</div>
