<div class="cart-container">
    
    <div class="cart-panel">
        <p>items</p>
        <div class="cart-item"></div>
<form #form="ngForm" (ngSubmit)="onSubmit()" class="form-margin">
    <label>Full Name</label>
    <br>
    <input type="text" name="fullName" required minlength="5" [(ngModel)]="fullName" #namevalid="ngModel">
    <br>
    <label>Address</label>
    <br>
    <input type="text" name="address" [(ngModel)]="address">
    <br>
    <label>Credit Card</label>
    <br>
    <input type="text" name="creditCard" [(ngModel)]="creditCard">
  
    <br>
    <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
</div>
<div class="cart-item-details">
  <app-product-item class="cart-item" *ngFor='let cart of cartList' [product]="cart"></app-product-item>
  
<br>
<div>
  <h5>{{ total }}</h5> 

</div>
</div>
<div *ngIf="namevalid.invalid && namevalid.dirty">
    <div *ngIf="namevalid.errors?.required">
      Please enter your full name.
    </div>
  </div>
</div>