<div class= "product-container">
<a routerLink="products/{{ product.id }}">
    <img class="product-image" src="{{ product.image }}"><img>
    <h3>{{ product.title }}</h3>
    <h5>{{ product.price }}</h5>
</a>
<div >
    <input type="number" min="1" max="100"  value="{{ product.amount }}">
</div>
<div>
    <form (ngSubmit)="addToCart(product)" >
        <button type="submit">Add to cart</button>      
        <input class="select-input" type="number" min="1" max="100"  value="{{ product.amount }}" name="amount" [(ngModel)]="amount">
    </form>
</div> 
</div>